MUI: reply in thread for confirmation requests and confirmations emails

Now that the software has be rewritten in a more robust language we can do this more easily.

This is done by setting the `References:` field of the header, in addition to the `In-Reply-To:` one.

See [RFC5322 (section 3.6.4)](https://datatracker.ietf.org/doc/html/rfc5322#section-3.6.4) for reference.

TL;DR: the `References:` field should contain the content of the replied-to message's `References:` field, appended with the replied-to message's `Message-ID:` field.